@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.container{
    /* display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row; */
    margin-top: 5rem;
    text-align: start;
    
}

.form-input{
    width: 50vw;
    margin-top: -2rem;
}
.heading{
    text-align: center;
    margin-top: 2rem;
    margin-left: -6rem;
}
.button{
    /* display: inline-block; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
    margin-top: -2rem;
}
.summary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: -14.5rem;
}
.para{
    margin-left: 29.5rem;
    width: 50vw;
}
.para-1{
    margin-left: 20rem;
    width: 40vw;
}
.preview{
    /* border: 1px solid red; */
    margin-left: 29rem;
    width: 50vw;
    margin-top: -2rem;
}
h3{
   margin-left: -11rem;
}
.jap{
    font-family: 'Poppins', sans-serif;
}